
body{
    background-image: url('main_img.png');
    display: flex;
    justify-content: center;
    background-size: cover;
    
}

.head{
    background-color: white;
    border-radius: 30px;
    border: #D60062 5px solid;
    opacity: 1;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
}  
.head .info{
    display: flex;
    justify-content: space-around;
    flex-direction:  column;
    text-align: center;
}
.head .buttons{
    display: flex;
    justify-content: space-around;
    flex-direction:  column;
}

.head .buttons .c1{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.head .buttons .c2{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.head .buttons .c3{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    border: #04859D 3px solid;
    cursor: pointer;
}
#b1{
    background-image: url('Tambov_Oblast.svg.png');
    background-size: cover;
    width: 90px;
    height: 120px;
}

#b2{
    background-image: url('Magadan_oblast.svg.png');
    background-size: cover;
    width: 90px;
    height: 120px;
}

#b3{
    background-image: url('Coat_of_arms_of_Ingushetia.svg.png');
    background-size: cover;
    width: 140px;
    height: 140px;
}

#b4{
    width: 100px;
    height: 50px;
    border-radius: 80px;
    font:bold;
}

#b5{
    background-image: url('Coat_of_arms_of_Mordovia.svg.png');
    background-size: cover;
    width: 140px;
    height: 140px;
}

#b6{
    background-image: url('200px-Coat_of_Arms_of_Yamal_Nenetsia.svg.png');
    background-size: cover;
    width: 140px;
    height: 190px;
}